@import "tailwindcss";

@theme {
  --color-first-frost: #dfe0dc;
  --color-spring: #d1d8bd;
  --color-khaki-linen: #c7c2ab;
  --color-ivy: #777e5c;
  --color-serpentine: #283106;
}

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-Bold.ttf");
  font-weight: 700;
}

.montserrat-regular {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.montserrat-medium {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.montserrat-semibold {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.montserrat-bold {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */